.container {position: relative; box-sizing: border-box; border: 1px solid black; }
.dot {
    box-sizing: border-box;
    border: solid 1px black;
    position: absolute;
    border-radius: 50%;
}
.line {
    box-sizing: border-box;
    border-top: solid 1px black;
    position: absolute;
    height: 0px;
}
